body {
  width: 1440px;
  height: 2468px;
  margin: 20px;
  background: #FFFFFF;
}
*:focus {
  outline: 2px dotted red;
  outline-offset: 2px;
}
.site-header {
  position: absolute;
  width: 1440px;
  height: 97.94px;
  left: 20px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 0px;
  width: 1100px;
  height: 49.94px;
  margin: 24px 170px 24px 170px;
}
.logo {
  position: static;
  width: 180px;
  height: 50px;
  left: 0px;
  top: 0px;
  transition: opacity 0.5s ease;
}
.logo:hover {
  opacity: 0.6;
}
.logo:active {
  opacity: 0.6;
}
.logo-icon {
  width: 50px;
  height: 49.94px;
}
.logo-text {
  position: absolute;
  width: 122px;
  height: 33px;
  left: 230px;
  top: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  color: #222222;
  transition: color 0.5s ease;
  font-family: 'Open Sans', "Arial",sans-serif;
}
.logo-text:hover {
  color: #DE2E54;
}
.sitenav {
  width: 497px;
  height: 21px;
  display: flex;
  align-items: center;
  margin-left: 114.5px;
}
.sitenav-ul {
  display: flex;
  padding: 0px;
}
.sitenav-list {
  list-style: none;
}
.sitenav-link {
  font-family: 'Open Sans', "Arial",sans-serif;
  text-decoration: none;
  margin-right: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #222222;
  transition: color 0.5s ease,
    opacity 0.5s ease;
}

.blog {
  margin-right: 0px;
}
.sitenav-link:hover {
  color: #DE2E54;
}
.sitenav-link:active {
  opacity: 0.6;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  width: 200px;
  height: 47px;
  left: 911px;
  top: 1.47px;
  margin-left: 114.5px;
  background: #DE2E54;
  border: 2px solid #DE2E54;
  box-sizing: border-box;
  border-radius: 8px;
  transition: background 0.5s ease,
    opacity 0.5s ease;
}
.button:hover {
  background: #FFFFFF;
}
.button:active {
  opacity: 0.6;
}
.button-link {
  position: static;
  width: 185px;
  height: 23px;
  left: 24px;
  top: 12px;
  font-style: normal;
  font-family: "Open Sans Condensed", "Arial",sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.5s ease;
}
.button-link:hover {
  color: #DE2E54;
}
/* HERO */
.hero {
  position: absolute;
  width: 1440px;
  height: 533px;
  left: 20px;
  top: 98px;
  background: #0EB4C1;
}
.hero-content {
  width: 500px;
  height: 293px;
  margin-top: 120px;
  margin-right: 170px;
  margin-left: 170px;
}
.hero-image {
  position: absolute;
  left: 847px;
  top: 29px;
  width: 423px;
  height: 504px;

}
.hero-heading {
  width: 500px;
  height: 86px;
  font-size: 35px;
  line-height: 120%;
  color: #FFFFFF;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 16px;
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
}
.hero-passage {
  width: 440px;
  height: 108px;
  margin: 0px;
  margin-bottom: 36px;
  color: #FFFFFF;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 150%;
  font-family: 'Open Sans', "Arial",sans-serif;
}
.hero-button {
  margin-left: 0px;
  padding-left: 0px;
  transition: background 0.5s ease,
    opacity 0.5s ease;
}
.hero-button:hover {
  background: rgba(222, 46, 84, 0.8);
}
.hero-button:active {
  opacity: 0.6;
}
.hero-button-link {
  transition: color 0.5s ease,
    opacity 0.5s ease;
}
.hero-button-link:hover {
  color: #FFFFFF;
}
.hero-button-link:active {
  opacity: 0.6;
}
/* SERVICES */
.services {
  position: absolute;
  top: 630px;
  width: 1440px;
  height: 1487px;
  background: #FFFFFF;
}
.services-heading {
  position: absolute;
  top: 120px;
  left: 653px;
  width: 160px;
  height: 43px;
  font-style: normal;
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
  margin: 0px;
  margin-bottom: 56px;
}
.services-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 219px;
  left: 288px;
  width: 864px;
  height: 1040px;
}

.frame1,.frame2,.frame3,.frame4 {
  width: 864px;
  height: 200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  align-items: center;
}
.frame4 {
  margin-bottom: 0px;
}
.frame1-image,.frame2-image,.frame3-image,.frame4-image {
  width: 200px;
  height: 200px;
  border-radius: 24px;
  margin-right: 64px;
}
.frame1-content,.frame2-content,.frame3-content,.frame4-content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 0px;
  top: 0px;
}
.frame1-heading,.frame2-heading,.frame3-heading,.frame4-heading {
  height: 29px;
  font-style: normal;
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  color: #222222;
  margin: 0px;
}
.frame1-passage,.frame2-passage,.frame3-passage,.frame4-passage {
  width: 600px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #444444;
  font-family: 'Open Sans', "Arial",sans-serif;
  margin: 0px;
  margin-top: 24px;
}
.services-button {
  position: absolute;
  left: 526px;
  top: 1350px;
  margin-bottom: 120px;
}

/* RECTANGLE */
.rectangle {
  position: absolute;
  width: 1440px;
  height: 253px;
  left: 20px;
  top: 2117px;

  background: #0EB4C1;
}
.rectangle-link {
  position: absolute;
  left: 550px;
  top: 64px;
  width: 450px;
  height: 43px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
}
.phone-call {
  position: absolute;
  width: 214px;
  height: 42px;
  left: 496px;
  top: 147px;
  border-radius: 8px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease,
    opacity 0.5s ease;
}
.phone-call:hover {
  background: #DE2E54;
}
.phone-call:active {
  opacity: 0.6;
}
.phone-call-link {
  width: 190px;
  height: 18px;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.telegram-call {
  position: absolute;
  width: 225px;
  height: 42px;
  left: 730px;
  top: 147px;
  border-radius: 8px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease,
    opacity 5.5s ease;

}
.telegram-call:hover {
  background: #DE2E54;
}
.telegram-call:active {
  opacity: 0.6;
}
.telegram-call-link {
  width: 220px;
  height: 18px;
  font-style: normal;
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
}

/* SITE-FOOTER */
 .site-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1440px;
  height: 97.94px;
  left: 20px;
  top: 2370px;
  background: #222222;
}
.footer-logo-text {
  color: #FFFFFF;
}
.footer-sitenav {
  margin-left: 418px;
}
.footer-sitenav-link {
  color: #FFFFFF;
  transition: opacity 0.5s ease;
}
footer-sitenav-link:active {
  opacity: 0.6;
}