body {
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
  position: relative;
  width: 1440px;
  height: 2468px;
  margin: auto;
  background: #FFFFFF;
}
.site-header {
  position: absolute;
  width: 1440px;
  height: 97.94px;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: static;
  width: 1100px;
  height: 49.94px;
  left: 190px;
  top: 50px;
}
.logo {
  position: static;
  width: 170px;
  height: 50px;
  left: 0px;
  top: 0px;
  transition: opacity 0.5s ease;
}
.logo:active {
  opacity: 0.6;
}
.logo-icon {
  position: static;
  width: 50px;
  height: 49.94px;
  left: 0px;
  top: 0px;
}
.logo-text {
  position: absolute;
  width: 110px;
  height: 33px;
  left: 230px;
  top: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  color: #222222;
  transition: color 0.5s ease;
  font-family: 'Open Sans', "Arial",sans-serif;
}
.logo-text:hover {
  color: #DE2E54;
}
.sitenav {
  width: 497px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sitenav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 497px;
  padding: 0px;
}
.sitenav-link {
  font-family: 'Open Sans', "Arial",sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #222222;
  transition: color 0.5s ease,
    opacity 0.5s ease;
}
.sitenav-link:hover {
  color: #DE2E54;
}
.sitenav-link:active {
  opacity: 0.6;
}
.sitenav-list {
  display: flex;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  width: 200px;
  height: 47px;
  left: 911px;
  top: 1.47px;
  background: #DE2E54;
  border: 2px solid #DE2E54;
  box-sizing: border-box;
  border-radius: 8px;
  transition: background 0.5s ease,
    opacity 0.5s ease;
}
.button:hover {
  background: #FFFFFF;
}
.button:active {
  opacity: 0.6;
}
.button-link {
  position: static;
  width: 185px;
  height: 23px;
  left: 24px;
  top: 12px;
  font-style: normal;
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.5s ease;
}
.button-link:hover {
  color: #DE2E54;
}
/* HERO */
.hero {
  position: absolute;
  width: 1440px;
  height: 533px;
  left: 0px;
  top: 98px;
  background: #0EB4C1;

}
.hero-content {
  position: absolute;
  width: 500px;
  height: 290px;
  left: 170px;
  top: 120px;
}
.hero-image {
  position: absolute;
  width: 423px;
  height: 504px;
  left: 847px;
  top: 30px;
}
.hero-heading {
  position: absolute;
  width: 500px;
  height: 86px;
  left: 0px;
  top: 0px;
  font-size: 30px;
  line-height: 120%;
  color: #FFFFFF;
  font-weight: bold;
  margin: 0px;
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
}
.hero-passage {
  position: absolute;
  width: 440px;
  height: 108px;
  left: 0px;
  top: 100px;
  color: #FFFFFF;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 150%;
  margin: 0px;
  font-family: 'Open Sans', "Arial",sans-serif;
}
.hero-button {
  position: absolute;
  left: 3px;
  top: 241px;
  transition: background 0.5s ease,
    opacity 0.5s ease;
}
.hero-button:hover {
  background: rgba(222, 46, 84, 0.8);
}
.hero-button:active {
  opacity: 0.6;
}
.hero-button-link {
  transition: color 0.5s ease,
    opacity 0.5s ease;
}
.hero-button-link:hover {
  color: #FFFFFF;
}
.hero-button-link:active {
  opacity: 0.6;
}
/* SERVICES */
.services {
  width: 1440px;
  height: 1486px;
  background: #FFFFFF;
}
.services-heading {
  position: absolute;
  width: 160px;
  height: 43px;
  left: 653px;
  top: 650px;
  font-style: normal;
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
}
.services-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 864px;
  height: 800px;
  left: 288px;
  top: 725px;
}
.frame1,.frame2,.frame3,.frame4 {
  width: 864px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.frame1-image,.frame2-image,.frame3-image,.frame4-image {
  width: 200px;
  height: 200px;
  border-radius: 24px;
}
.frame1-content,.frame2-content,.frame3-content,.frame4-content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 0px;
  top: 0px;
}
.frame1-heading,.frame2-heading,.frame3-heading,.frame4-heading {
  height: 29px;
  font-style: normal;
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  color: #222222;
  margin: 0px;
}
.frame1-passage,.frame2-passage,.frame3-passage,.frame4-passage {
  width: 600px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #444444;
  font-family: 'Open Sans', "Arial",sans-serif;
}
.services-button {
  position: absolute;

  left: 626px;
  top: 1530px;
}

/* RECTANGLE */
.rectangle {
  position: absolute;
  width: 1440px;
  height: 253px;
  left: 1px;
  top: 1600px;

  background: #0EB4C1;
}
.rectangle-link {
  position: absolute;
  left: 525px;
  top: 50px;
  width: 450px;
  height: 43px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
}
.phone-call {
  position: absolute;
  width: 214px;
  height: 42px;
  left: 497px;
  top: 120px;
  border-radius: 8px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease,
    opacity 0.5s ease;
}
.phone-call:hover {
  background: #DE2E54;
}
.phone-call:active {
  opacity: 0.6;
}
.phone-call-link {
  width: 190px;
  height: 18px;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.telegram-call {
  position: absolute;
  width: 225px;
  height: 42px;
  left: 731px;
  top: 120px;
  border-radius: 8px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease,
    opacity 5.5s ease;

}
.telegram-call:hover {
  background: #DE2E54;
}
.telegram-call:active {
  opacity: 0.6;
}
.telegram-call-link {
  width: 220px;
  height: 18px;
  font-style: normal;
  font-family: 'Open Sans Condensed', "Arial",sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
}

/* SITE-FOOTER */
 .site-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1440px;
  height: 97.94px;
  left: 1px;
  top: 1853px;
  background: #222222;
}
.footer-logo-text {
  color: #FFFFFF;
}
.sitenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 497px;
  height: 21px;
  left: 603px;
  top: 14.47px;
}
.footer-sitenav-link {
  color: #FFFFFF;
  transition: opacity 0.5s ease;
}
footer-sitenav-link:active {
  opacity: 0.6;
}